body {
    font-family:verdana;
  
    font-size: 11px;
}
.logo{
	

	width: 200px;
	height: 100px;
}
.usuario{
    top: 80px;
    position: absolute;
    font-weight: bold;
}
.factdate{
    position: absolute;
    top: 07px;
    right: 280px;
    width: 300px;
}
.hora {
    top: 07px;
    text-align: right;
    position: absolute;
    right: 150px;
}
.cliente{
    top: 0px;
    text-align: right;
    position: absolute;
    left: 250px;
}
.ruc{
	top: 20px;
    text-align: right;
    position: absolute;
    left: 250px;  
}

.direccion{
	top: 40px;
    text-align: right;
    position: absolute;
    left: 250px;
}
.cpago{

    position: absolute;
    top: 37px;
    right: 280px;
    width: 300px;
}

.listado{ 
	width:99%;
    letter-spacing: 1px;
}

td.descripcion {

    text-align: left;
}
td.unidad{
    position: absolute;
    left: 800px;
    text-align: left;
}
td.cantidad{
    position: absolute;
    left: 900px;
    text-align: center;
   
}



.datagrid table { border-collapse: collapse; width: 100%; } 
.datagrid {font: normal 9px/150% verdana, verdana,verdana; background: #fff; overflow: hidden; border: 1px solid #8C8C8C;  }
.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 11px; }

